@model Tricking.Mvc.Models.ConsolePageModel
@{
    ViewBag.Title = "Home";
    Layout = "../Shared/_BootstrapLayout.cshtml";
}
@using (Html.BeginForm("ConsolePage", "Tricking", FormMethod.Post, new { id = "Form" }))
{
    <div class="span4 well">

        <form>

            <legend>Tricking Console</legend>

            <div class="editor-label">
                @Html.LabelFor(model => model.TrickerId)
            </div>
            <div class="editor-field">
                @Html.DropDownList(
                    "TrickerId",
                    (IEnumerable<SelectListItem>)
                    Model.Trickers,
                    "--Select One--",
                    new
                        {
                            onchange = "document.getElementById('Form').submit();"
                        })
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.TrickId)
            </div>
            <div class="editor-field">
                @Html.DropDownList(
                    "TrickId",
                    (IEnumerable<SelectListItem>)
                    Model.Tricks,
                    "--Select One--",
                    new
                        {
                            onchange = "document.getElementById('Form').submit();"
                        })
            </div>

            <p>
                @if (Model.TrickId != 0 && Model.TrickerId != 0)
                {

                    <button type="submit" value="PerformTrick" name="action" class="btn btn-primary">
                        Perform Trick
                    </button>

                }
                else
                {
                    <button disabled="disabled" type="submit" value="PerformTrick" name="action" class="btn btn-success">
                        Perform Trick
                    </button>
                }
            </p>

        </form>
    </div>
}

<div class="span12">
    <div class="well">
        @Html.TextArea("ConsoleText", Model.ConsoleText)
    </div>
</div>
