@model Tricking.Domain.Data.Tricker

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_BootstrapLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Tricker</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Power)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Power)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Style)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Style)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Technicality)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Technicality)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
